@charset "UTF-8";
.container {
    margin: 0 15px;
}
.logoBox {
    text-align: center;
}
//错误信息提醒
#notice{
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-top: .07rem;
  color: #f23030;
  min-height: 3.5rem;
}
.input_group {

    width: 100%;
    height: auto;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    // @include flexbox();
    & .labelBox {
      display: inline-block;
      padding: 5px;
      border-right: 1px solid $inputBorderColor;
      float: left;
      vertical-align: top;
      position: absolute;
      left: 0px;
      top: 0px;

    }
    & .inputBox {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      padding-left: 40px;
      margin-right: 0px;
      // @include flex(1);

        & input {
            display: inline-block;
            width: 100%;
            height: 42px;
            padding-left: 4px;
            color: #9a9a9a;
            font-size: 1.4rem;
        }
    }
    & .codeBtn {
        display: inline-block;
        border-left: 1px solid $inputBorderColor;
        float:right;
        vertical-align: top;
        position: absolute;
        right: 0px;
        top: 0px;
        & a{
            color: #666;
            display: inline-block;
            padding: 0px;
        }
        & a.text{
          padding:16px 10px;
        }
    }
}
//第三方登录
.otherWayToLogin {
    text-align: center;
    & .title {
        font-size: 1.4rem;
        color: #666;
        position: relative;
        font-weight: normal;
        &:after,
        &:before {
            content: "";
            display: inline-block;
            width: 30px;
            height: 1px;
            background: #666;
            position: relative;
            top: -4px;
        }
        &:before {
            left: -4px;
        }
        &:after {
            right: -4px;
        }
    }
    & .loginWay {
        & a {
            margin: 0 5px;
        }
    }
}
