@charset "utf-8";

$headerColor:#76be0e;//头部标题栏颜色
$minWidth:320px;
$maxWidth:640px;
$headerHeight:45px;//头部高度
$navbarHeight:50px;//底部导航栏高度
$navbarHeight2:45px;//底部导航栏高度
$inputBorderColor:#d7d7d7;
$borderBottomColor:#eee;
//商品详情页选项卡
$borderColor:#e3e3e3;
$commonHeight:15px;
