@charset "UTF-8";
.discountCouponCon {
    background: #f6f9fc;
    padding: 10px;
    width: 100%;
    // outline: 1px solid #000;
    & .coupon {
      background:#76be0e;
        // background: url("../images/icon2/discountCoupon.png") no-repeat;
        background-position: left top;
        background-size:cover;
        outline: 1px solid red;

        & .discountCouponText{
          margin:10px auto;
          width: 204px;
          height: 118px;
          border: 1px solid blue;
          color:#fff;
          & .value{
            font-size: 6rem;
            margin:20px 5px;
          }
          & .text{
            font-size: 2rem;
            margin:20px 5px 10px;
          }
          & .usableRange{
            background:#fff;
            color: #585e43;
            font-size: 1.6rem;
            font-weight: bold;
            display: block;
            padding:5px;
            border-radius: 5px;
          }
        }
    }
}
