@charset "UTF-8";
/**个人中心**/
.personalCenterCon{
  background: #eee;
  margin-bottom: 60px;

  & .bgCon{
    height: 214px;
    background:url("../images/icon2/beijing.jpg") no-repeat;
    background-size:cover;
    text-align:center;
  }
  & .headPortrait{
    max-width: 80px;max-height:80px;
    display:inline-block;
    margin-top: 30px;
  }
  & .personalName{
    display:block;
    font-size: 2rem;
    color:#fff;
    margin:10px auto;
  }
  & .buttonGroup{
    .button{
      display: inline-block;
      border: 1px solid #fff;
      padding:5px 10px;
      color:#fff;
      margin-right: -5px;
      &:first-child{
        -webkit-border-radius:5px 0px 0px 5px;
        border-radius:5px 0px 0px 5px;
      }
      &:last-child{
        -webkit-border-radius:0px 5px 5px 0px;
        border-radius:0px 5px 5px 0px;
      }
    }
  }
  .personalToolbar{
    background:#fff;
    text-align: center;
    margin-bottom:10px;
    & .toolbarItem{
      width:33%;
      float:left;
      color:#323232;
      font-size: 1.4rem;
      font-weight: bold;
      padding:10px 0px;
      & .num{
        display: block;
        color:#f87618;
      }
      & .subitem{
        display: block;
        margin-top:3px;
        color:#323232;
      }
    }
  }
  // 列表组
  .list-group{
    background: #fff;
    padding:0px 10px;
    & .list-item{
      position: relative;
      border-bottom:1px solid #DDD;
      &>a{
        display: inline-block;
        width:100%;
        padding:13px 0px;
      }
      & .itemName{
        font-size: 1.4rem;
        color: #323232;
        font-weight: bold;
      }
      & .icon{
        position:absolute;
        right:0px;
        top:50%;
        margin-top:-8px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    & .list-item:last-child{
      border: none;
    }
  }
}
